<ion-view view-title="Advent">
  <ion-content class="padding advent-page advent-background" scroll="false">
    <div class="row  responsive-sm responsive-md responsive-lg height-100-percent flex-layout">
        <div class="bow-top"></div>

        <div  class="dates-container">
          <a ng-repeat="date in dates" class="advent-date-anchor " href="#/app/advent-date/{{date.value}}">
            <img class="advent-date-image" ng-src="img/box_{{date.value}}.png">
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>
