<ion-view view-title="Find Us">
  <ion-content class="wood-background">
  <div class="row responsive-sm responsive-md responsive-lg height-100-percent ">
    <div id="map" data-tap-disabled="true" style="" class="padding-vertical">

    </div>
    <div></div>
    <p class="text-center padding-top absolute-center-by-margin app-paragraph-font-size " style="max-width:300px; color: white"   >
   604 Marlborough street
    </p>
    <p class="text-center  absolute-center-by-margin app-paragraph-font-size " style="max-width:300px; color: white"   >
      Milton Avenue
    </p>
    <p class="text-center  absolute-center-by-margin app-paragraph-font-size " style="max-width:300px; color: white"   >
      MK9 33786
    </p>
    <div class="col-100 padding-horizontal padding-top  absolute-bottom-20-percent  app-round-button enter-now">
      <a class="button-block text-center anchor-nostyle app-button-font-size height-100-percent col-100" href=""></a>
    </div>
    </div>
  </ion-content>
</ion-view>


