<ion-view view-title="Select Time">
  <ion-content class="" scroll="true" scroll="false">
    <ion-list>
      <ion-item class="item-remove-animate select-time-list item-padding-left-10 item-avatar item-icon-right" ng-repeat="time in timeList" type="item-text-wrap" href="#/app/confirmBooking/{{time}}">

       <div class=" ">{{time}}</div>
       <i class="icon ion-chevron-right icon-accessory red-gradient-font-chevron" style="font-size:30px;">
        </i>

      </ion-item>



    </ion-list>
  </ion-content>
</ion-view>
