<ion-view view-title="Confirm Booking">
  <ion-content class="height-occupy "  scroll="false">
    <div class="row responsive-sm responsive-lg font-color " style="">
      <div class="col-100 text-left padding-top">
        <p class=" padding-left app-heading-font-size no-padding-margin-bottom">Confirm Your Booking</p><p class=" padding-left app-heading-font-size"> With Santa!</p>
      </div>
      <p class="padding-left time-stamp">{{selectedTime}}</p>
      <div class="col-100 padding-left padding-right">
        <div class="item item-input form-field">

          <input type="text"  placeholder="First Name">
        </div>
        <div class="item item-input form-field">

          <input type="text"  placeholder="Last Name">


        </div>
        <div class="item item-input form-field">

          <input type="email"  placeholder="Email Address">
        </div>
        <div class="item item-input form-field">

          <input type="text"  placeholder="Number">
        </div>
      </div>
      <p class="padding-left app-paragraph-font-size">By purchasing a ticket, you agree to our <a class="anchor-underline">Terms and Conditions</a> </p>

      <div class="col-100 padding-top  padding-horizontal  app-round-button pay-with-card ">
        <a class="button-block padding-left padding-right text-center anchor-nostyle app-button-font-size height-100-percent col-100" href="#/app/selectTime"></a>
      </div>
    </div>
  </ion-content>
</ion-view>
