<ion-view view-title="Win!" class="view-win">
  <ion-content class="height-occupy win wood-background" scroll="false" >
    <div class="row responsive-sm responsive-lg height-100-percent no-padding  " style="">
      <div class="col-100 text-center height-50-percent">
        <img  src="img/win_image.png" class="height-100-percent col-100" style=" ">
      </div>
      <div class="col-100  height-50-percent flex-layout">
        <div class="message-container">
          <p class="text-center padding-top no-padding-margin-bottom app-heading-font-size">
            Win A Luxury
          </p>
          <p class="text-center no-padding-margin-top app-heading-font-size">
            Christmas Hamper Xscape
          </p>


          <p class="text-center padding absolute-center-by-margin app-paragraph-font-size" style="max-width:300px;">
          You've got until 23.59pm on December 24th to enter and we'll then seelct a winner at random!
          </p>
         </div>
        <div class="col-100 padding-horizontal  absolute-bottom-20-percent  app-round-button enter-now">
          <a class="button-block text-center anchor-nostyle app-button-font-size height-100-percent col-100" href=""></a>
        </div>
      </div>


    </div>
  </ion-content>
</ion-view>
