.height-occupy > .scroll {
  height: 100%; }

.center-by-left {
  left: 50%;
  transform: translateX(-50%); }

.absolute-bottom-20-percent {
  bottom: 15%; }

.height-50-percent {
  height: 50%; }

.height-42-percent {
  height: 42%; }

.height-100-percent {
  height: 100%; }

.height-80-percent {
  height: 80%; }

.footer-main {
  height: 68px;
  border-top: none; }
  .footer-main .tab-nav.tabs {
    padding-top: 0px;
    border: 0px solid transparent;
    height: 100%;
    background: url(../img/navigation_bar.png), url(../img/footer-background-repeat.png);
    background-size: auto 100% ,auto 100%;
    background-repeat: no-repeat ,repeat-x;
    background-position: left ,right; }
  .footer-main .tab-nav .scroll {
    padding-top: 10px; }
  .footer-main .tab-nav a, .footer-main .tab-nav a span {
    color: #da2e86;
    line-height: 15px;
    font-size: 12px; }
  .footer-main .tab-nav .tab-item-custom {
    color: white;
    /* -webkit-flex: 1; */
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    /* flex: 1; */
    display: inline-block;
    overflow: hidden;
    min-width: 80px;
    width: 25%;
    max-width: 100px;
    height: 100%;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    opacity: 1; }
  .footer-main .icon-footer {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
    .footer-main .icon-footer.icon-advent {
      background-image: url("../img/advent_icon.png"); }
    .footer-main .icon-footer.icon-faq {
      background-image: url("../img/faq_icon.png"); }
    .footer-main .icon-footer.icon-find-us {
      background-image: url("../img/find_usicon.png"); }
    .footer-main .icon-footer.icon-meet-santa {
      background-image: url("../img/meet_santaicon.png"); }
    .footer-main .icon-footer.icon-selfie {
      background-image: url("../img/santa_selfieicon.png"); }
    .footer-main .icon-footer.icon-sleigh-ride {
      background-image: url("../img/sleigh_rideicon.png"); }
    .footer-main .icon-footer.icon-win {
      background-image: url("../img/win_icon.png"); }

.has-footer {
  bottom: 66px; }

.platform-android .wood-background {
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-image: url(../img/background.png); }
  .platform-android .wood-background .pane {
    background-color: transparent; }

.platform-ios .wood-background {
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: center;
  background-image: url(../img/background.png); }
  .platform-ios .wood-background .pane {
    background-color: transparent; }

.advent-background {
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-image: url(../img/advent_background.png); }

.tab-item .icon {
  height: 38px; }

.platform-ios .header-main .back-button {
  height: 0px;
  line-height: inherit; }
  .platform-ios .header-main .back-button .icon:before {
    line-height: 25px; }

.platform-ios .header-main .title.header-item {
  line-height: 30px; }

.platform-android .header-main .title.header-item {
  line-height: 65px; }

.header-main {
  height: 65px;
  background: url(../img/beads.png), url(../img/flakes.png), url(../img/header-background-gradient.png);
  background-size: 45px auto ,auto 104%, auto 100%;
  background-repeat: repeat-x,no-repeat, repeat-x;
  background-position: 100% 97% ,right , left top;
  /* background-color: darkred; */ }
  .header-main .title {
    color: white; }

.has-header {
  top: 63px; }

.bar-header .header-item {
  font-size: 20px;
  font-weight: normal;
  line-height: 65px; }

.no-padding-margin-bottom {
  margin-bottom: 0px;
  padding-bottom: 0px; }

.no-padding-margin-top {
  margin-top: 0px;
  padding-top: 0px; }

.no-padding-margin-left {
  margin-left: 0px;
  padding-left: 0px; }

.font-color {
  color: white; }
  .font-color a {
    color: white; }
  .font-color .anchor-underline {
    text-decoration: underline; }

.no-padding {
  padding: 0px; }

.no-padding-margin-right {
  margin-right: 0px;
  padding-right: 0px; }

.position-absolute {
  position: absolute; }

.absolute-bottom {
  bottom: 0; }

.absolute-left {
  left: 0; }

.absolute-center-by-margin {
  margin: 0 auto; }

.list > .select-time-list > a {
  padding-left: 10px;
  font-size: 1.5rem;
  border: 20px solid;
  border-top: 0px;
  border-left: 0px;
  background-color: transparent;
  border-image: url(../img/text_divider.png) 60; }

.list > .select-time-list > a :after {
  display: block;
  height: 10px;
  width: 100px;
  background-image: url("../img/text_divider.png");
  background-size: 100% 10px;
  background-position: center center; }

.select-time-list {
  background-color: transparent; }

.select-time-list .separator-list-item {
  width: 100%;
  height: 20px; }

.ion-chevron-right:before {
  content: no-close-quote;
  /* width: 10px; */
  background-repeat: no-repeat;
  height: 30px;
  background-image: url(../img/menu_forward.png);
  background-position: center center;
  background-size: contain; }

.select-time-list > a > div {
  color: white;
  text-shadow: 0px 0px 2px #212121; }

.item-icon-left .icon:before, .item-icon-right .icon:before {
  display: block;
  width: 32px;
  text-align: center; }

.item {
  border-color: transparent; }

.time-stamp {
  font-style: normal;
  font-size: 1.3rem; }

.form-field {
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 1px 0px 1px 16px;
  border: 2px solid #921212;
  height: 45px;
  background-color: transparent; }
  .form-field input {
    color: white; }
  .form-field input::-webkit-input-placeholder {
    color: white;
    font-size: 15px; }
  .form-field input:-moz-placeholder {
    /* Firefox 18- */
    color: white;
    font-size: 15px; }
  .form-field input::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    font-size: 15px; }
  .form-field input:-ms-input-placeholder {
    color: white;
    font-size: 15px; }

.anchor-nostyle {
  text-decoration: none; }

.app-heading-font-size {
  font-size: 1.3em;
  font-weight: 700; }

.app-paragraph-font-size {
  font-size: 1.1em; }

.app-emphasize-font-size {
  font-size: 15px;
  font-weight: 500; }

.app-button-font-size {
  font-size: 22px;
  font-weight: 500; }

.app-round-button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto; }
  .app-round-button.enter-now {
    height: 64px;
    background-image: url(../img/enter_now.png);
    padding: 10px;
    width: 75%;
    max-width: 300px; }
  .app-round-button.pay-with-card {
    height: 64px;
    background-image: url(../img/pay_withcard.png);
    padding: 10px;
    width: 75%;
    max-width: 300px; }
  .app-round-button.select-date {
    height: 50px;
    background-image: url(../img/select_date.png);
    padding: 10px;
    width: 75%;
    max-width: 300px; }
  .app-round-button.view-my-bookings {
    height: 50px;
    background-image: url(../img/view_mybookings.png);
    padding: 10px;
    width: 75%;
    max-width: 300px; }

.red-gradient-font-chevron {
  background: -webkit-linear-gradient(left, #0e0403, #f00);
  background: -o-linear-gradient(right, #0e0403, #f00);
  background: -moz-linear-gradient(right, #0e0403, #f00);
  -webkit-background-clip: text;
  font-size: xx-large;
  font-weight: 900;
  -webkit-text-fill-color: transparent; }

.tab-item {
  color: #da2e86;
  line-height: 15px;
  opacity: 1;
  font-size: 12px;
  text-shadow: 0px 0px 1px black;
  border-bottom: 2px solid transparent; }

.tab-item.tab-item-active {
  border-bottom: 2px solid #ff2da9; }

.platform-android .bar .title {
  font-size: 20px;
  font-weight: normal;
  line-height: 55px; }

.platform-ios .bar .title {
  font-size: 20px;
  font-weight: normal;
  line-height: 60px; }

.back-button > .icon:before {
  background-image: url(../img/menu_back.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  line-height: inherit; }

.button.header-item .icon {
  vertical-align: baseline; }

.tabbed-slidebox .slider {
  height: 100%; }

.tabbed-slidebox.btm .slider {
  margin-bottom: -50px; }

.tabbed-slidebox .slider-slides {
  width: 100%; }

.tabbed-slidebox .slider-slide {
  padding-top: 0px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-weight: 300;
  background-color: #0398dc; }

.tabbed-slidebox .tsb-icons {
  text-align: center;
  margin: 10px 0;
  position: relative;
  background-color: #fff; }

.tabbed-slidebox .tsb-ic-wrp {
  display: flex;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  /* For Safari 3.1 to 6.0 */
  -webkit-transform: translate3d(0, 0, 0); }

.tabbed-slidebox .tsb-icons a {
  display: inline-block;
  width: 54px;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.3);
  -webkit-transform: translate3d(0, 8px, 0); }

.tabbed-slidebox .tsb-icons a.active {
  color: black;
  font-size: 3.5em;
  -webkit-transform: translate3d(0, 0, 0); }

.tabbed-slidebox .tabbed-slidebox {
  position: relative;
  height: 100%;
  overflow: hidden; }

.tabbed-slidebox .tsb-icons:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1.4em 1.4em 1.4em;
  border-color: transparent transparent #0398dc transparent;
  position: absolute;
  content: "";
  display: block;
  bottom: -12px;
  left: 50%;
  margin-left: -14px; }

.tsb-hscroll.scroll-view {
  white-space: nowrap;
  margin: 0 auto; }

.tsb-hscroll.scroll-view::-webkit-scrollbar {
  display: none; }

.tsb-hscroll.scroll-view .scroll-bar {
  visibility: hidden; }

.tsb-hscroll.scroll-view .scroll.onscroll {
  -webkit-transition: -webkit-transform 0.3s;
  /* For Safari 3.1 to 6.0 */ }

.tabbed-slidebox .tsb-icons .scroll a {
  width: auto;
  font-size: 1.5em;
  line-height: 1.5em;
  text-decoration: none;
  margin: 0 15px;
  border-bottom: 3px solid transparent; }

.tabbed-slidebox .tsb-icons .scroll a.active {
  font-size: 1.8em;
  border-bottom: 3px solid #ccc; }

.item-complex.item-icon-right .item-content {
  padding-bottom: 20px;
  padding-top: 20px; }

.message-container {
  color: white;
  text-shadow: 0px 0px 2px #1b1b1b; }


.win .message-container {
  color: white;
  text-shadow: 0px 0px 2px #1b1b1b; }

.win .flex-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.flex-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.pickadate-header .pickadate-controls {
  display: none; }

.pickadate-cell li {
  border: 0px solid transparent;
  padding: 4% 0%; }

.pickadate-cell .pickadate-enabled {
  color: white;
  text-shadow: 0px 0px 2px black;
  font-size: 1.3em; }

.pickadate-cell .pickadate-disabled {
  color: transparent; }

.pickadate-cell .pickadate-head:nth-child(1), .pickadate-cell .pickadate-head:nth-child(7), .pickadate-cell .pickadate-head {
  background-color: transparent;
  color: white;
  text-shadow: 0px 0px 2px black;
  text-indent: 5%;
  font-size: 0.8em;
  letter-spacing: 100px;
  white-space: nowrap;
  overflow: hidden; }

.pickadate-cell li:nth-child(7n+0) {
  border-color: transparent;
  border-right: 1px solid transparent; }

.pickadate-cell .pickadate-head {
  border-color: transparent;
  border-top: 1px solid transparent; }

.pickadate-cell li:nth-child(1), .pickadate-cell li:nth-child(8), .pickadate-cell li:nth-child(15), .pickadate-cell li:nth-child(22), .pickadate-cell li:nth-child(29), .pickadate-cell li:nth-child(36) {
  border-left-color: transparent; }

.pickadate-main {
  border: 2px solid #a90c0c;
  border-radius: 5px; }

.pickadate-body {
  width: 75%;
  max-width: 400px;
  min-width: 200px;
  margin: 0 auto; }

.pickadate-centered-heading {
  font-weight: normal;
  text-align: center;
  font-size: 1.3em;
  margin: 1px 0 13px 0;
  line-height: normal;
  color: white;
  text-shadow: 0px 0px 2px #2b2b2b; }

.bookings .list > .select-time-list > a {
  border-right: 0; }

.bow-top {
  background-image: url(../img/bow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: block;
  height: 3em; }

#map {
  display: block;
  height: 60%;
  min-height: 250px;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px; }

.advent-page .flex-layout {
  justify-content: flex-start; }

.advent-page .dates-container {
  text-align: center; }
  .advent-page .dates-container .advent-date-anchor {
    display: inline-block;
    text-decoration: none;
    max-height: 50px;
    width: 23%;
    max-width: 55px;
    margin-bottom: 3%;
    margin-left: 1.8%;
    margin-right: 1.8%; }
    .advent-page .dates-container .advent-date-anchor .advent-date-image {
      height: 100%;
      width: 100%; }

.advent-date-page .large-advent-date-container {
  width: 55%;
  margin: 0 auto; }
  .advent-date-page .large-advent-date-container .large-advent-date-img {
    height: 100%;
    width: 100%; }

.advent-date-page .bells-container {
  display: block;
  width: 90%;
  margin: 0 auto; }

.advent-date-page .bell {
  display: inline-block;
  width: 25%;
  margin-left: 4%;
  margin-right: 4%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed; }
